.table {
  box-sizing: border-box;
  box-shadow: 5px 5px 5px #888888;
}

.grow {
  text-decoration: none;
  color: white;
}

.grow:hover {
  color: white;
  text-decoration: underline;

  transform: scale(1.3);
}
